<div id="divFOOTER">
    <div class="innerContainer">
        <div class="links">
            <span>FAQ</span>
            <span>Help & Contact</span>
            <span>Fees</span>
            <span onClick="location.href='/about'">About</span>
            <span>Privacy</span>
            <span>Legal</span>
        </div>
        <div class="dividerLine">&nbsp;</div>
        <div class="disclaimer">
            &copy; 2018 BizKnect All Rights Reserved. Nullam ornare arcu eget velit varius malesuada. Proin suscipit maximus felis, in aliquam arcu placerat et. Cras vehicula quam nulla, eget dapibus felis efficitur quis. Sed suscipit, nisi quis cursus pharetra, mauris purus molestie ex, quis rhoncus nulla libero at augue. In dignissim congue turpis. Vivamus luctus ornare gravida.
        </div>
        <div class="icon">
            <img src="/images/bizKnect_footer_logo.png"/>
        </div>
    </div>
</div>