<div id="divHEADER">
    <div class="innerContainer">
        <div class="branding" onClick="location.href='/'"><img src="/images/bizKnect_logo.png" align="absmiddle" style="height: 35px;"></div>
        <div id="divNAVIGATION">
            <div class="item" style="color: #cb3e00; cursor: default;">800.765.4321</div>
            <div class="item" onClick="location.href='/getStarted'">GET STARTED</div>
            <div class="item" onClick="location.href='/about'">ABOUT</div>
            <div class="item" onClick="location.href='/benefits'">BENEFITS</div>
        </div>
    </div>
</div>