<style>
    .header {
        font-family: "vag_rounded_light", Arial, Helvetica, sans-serif;
        font-size: 300%;
        margin-bottom: 20px;
    }

    .dividerLine {
        height: 3px;
        background-color: #000;
        opacity: .1;
        width: 100%;
        margin: 10px auto 0;
    }

    .dividerLine2 {
        height: 1px;
        opacity: .3;
        width: 70%;
        margin: 15px auto 30px;
        border-top: 1px dashed #000;
    }

    .content {
        font-family: "vag_rounded_light", Arial, Helvetica, sans-serif;
        font-size: 150%;
        line-height: 200%;
        margin: 50px auto 0;
        width: 100%;
    }

    .content .image {
        margin: 0 0 -20px 0;
    }

    .content .cashSection {
        float: left; clear: both;
        width: 100%;
        padding: 60px 0 70px; box-sizing: border-box;
    }

    .content .subheader {
        font-family: "vag_rounded_light", Arial, Helvetica, sans-serif;
        font-size: 220%;
        line-height: 120%;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .content .cardSection {
        float: left; clear: both;
        width: 100%;
        padding: 60px 0 50px; box-sizing: border-box;
        background-color: #EFEFEF;
        border-bottom: 1px solid #DDD;
    }

    .content .cardSection .columns {
        float: left;
        width: 45%;
        clear: none;
        text-align: left;
        line-height: 150%;
        font-size: 90%;
    }

    .content .cardSection .columns li {
        margin-bottom: 15px;
    }

    .content .specialSection {
        float: left; clear: both;
        width: 100%;
        padding: 50px 0 60px 0; box-sizing: border-box;
    }

    .content .specialSection .columns {
        width: 50%;
        clear: both;
        text-align: left;
        line-height: 150%;
        font-size: 90%;
        margin: 0 auto;
    }

    .content .specialSection .columns li {
        margin-bottom: 15px;
    }

    .reg {
        font-family: Arial, Geneva, sans-serif;
        font-size: 60%;
    }

    .black {
        font-family: "vag_rounded_black", Arial, Helvetica, sans-serif;
    }


</style>
<div id="divBODY">
    <div class="innerContainer">
        <div class="header">The Benefits of BizKnect<span style="font-size: 30% !important;">SM</span></div>
        <div class="dividerLine">&nbsp;</div>
    </div>
    <div class="content">
        <div class="cashSection">
            <div class="innerContainer">
            <div class="image" style="margin-top: -30px;"><img src="/images/benefits/cash.png" alt=""/></div>
            <div class="subheader">The Simplest Way to <br>Make <span style="color: #f54b00;">Extra Cash</span> <img src="/images/bizknect_icon.png" alt=""/></div>
            <div class="dividerLine2"></div>
            <div class="text">Enroll and capitalize on every service call you make to supplement your income.<br>There is no limit to what you can earn</div>
            </div>
        </div>
        <div class="cardSection">
            <div class="innerContainer">
                <div class="image"><img src="/images/benefits/card.png" alt=""/></div>
                <div class="subheader">The BizKnect Prepaid<br>MasterCard<span class="reg">&reg;</span> <span style="color: #f54b00;">Really Pays</span> <img src="/images/bizknect_icon.png" alt=""/></div>
                <div class="dividerLine2"></div>
                <ul class="columns" style="margin-right: 1%;">
                    <li>Fast and efficient way to receive referral fees loaded directly to your card</li>
                    <li>The ability to track your incoming referral income and spending</li>
                    <li>Use it to purchase products online, at restaurants, and anywhere Prepaid MasterCard<sup class="reg">&reg;</sup> is accepted </li>
                </ul>
                <ul class="columns">
                    <li>Enroll in direct deposit to avoid waiting in line and check cashing fees</li>
                    <li>Load cash via GreenDot Reload Network and PayPal </li>
                    <li>Get cash off at thousands of ATMs nationwide</li>
                    <li>Remotely deposit checks</li>
                    <li>Pay bills online</li>
                </ul>
            </div>
        </div>
        <div class="specialSection">
            <div class="innerContainer">
                <div class="image"><img src="/images/benefits/giftbox.png" alt=""/> </div>
                <div class="subheader">BizKnect<span style="font-size: 30% !important;">SM</span> <span style="color: #f54b00;">Special Offers</span> <img src="/images/bizknect_icon.png" alt=""/></div>
                <div class="dividerLine2"></div>
                <div>BizKnect members will be eligible for future special offers or value added services such as: </div>
                <ul class="columns" style="margin-top: 20px;">
                    <li>Pay employees and subs via BizKnect Prepaid MasterCard<sup class="reg">&reg;</sup></li>
                    <li>Project financing for your customers</li>
                    <li>Sweepstakes</li>
                    <li>Shopping discounts and rewards</li>
                    <li>Accepting customer plastic</li>
                    <li>and more...</li>
                </ul>
            </div>
        </div>
    </div>
</div>
